<app-easy-navigation></app-easy-navigation>
<div class="jumbotron bg-warning">
  <h3 class="text-center"><b>STUDENT REGISTRATION</b></h3>
  <h5 class="text-center">
    Check
  </h5>
  <div class="w-100">
    <form [formGroup]="studentForm">
      <div class="form-row w-100">
        <div class="mx-auto">
          <div class="mb-2 form-col">
            <input class="form-control inline" type="text" placeholder="Full Name" formControlName="fullname">
          </div>
          <div class="mb-2  form-col">
            <input class="form-control inline" type="text" placeholder="Email" formControlName="email">
          </div>
          <div class="mb-2 form-col">
            <button class="btn btn-success w-100" (click)="submit(studentForm.value)"> View </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="container">
  <table class="table table-striped w-100">
    <thead>
      <th scope="col">Fullname</th>
      <th scope="col">Contact</th>
      <th scope="col">Email</th>
      <th scope="col">Batch</th>
      <th scope="col">Program</th>
      <th scope="col">Prev-College</th>
      <th> Status</th>

    </thead>
    <tr *ngIf="selectedStudent">
      <td>{{selectedStudent.fullname}}</td>
      <td>{{selectedStudent.contact}}</td>
      <td>{{selectedStudent.email}}</td>
      <td>{{selectedStudent.batch}}</td>
      <td>{{selectedStudent.program}}</td>
      <td>{{selectedStudent.previous_college}}</td>
      <td>{{selectedStudent.status}}</td>

    </tr>
    <div *ngIf="!selectedStudent"> Enter Credentials</div>
  </table>
</div>
